<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Scoe.Robot.Watchdog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Scoe.Robot.Watchdog.Properties.Settings>
            <setting name="WatchPath" serializeAs="String">
                <value>.\Watch</value>
            </setting>
            <setting name="RunPath" serializeAs="String">
                <value>.\Run</value>
            </setting>
        </Scoe.Robot.Watchdog.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
